{% extends "base.html" %}
{% block title %}{{board.charname}}, {{board.fullname}}{% endblock %}

{% block main %}
<p>/{{board}}/ - {{total_webms}} Webms Collected</p>
<div class="images">
	{% for image in images %}
	<div class="image bg--light-gray">
		<a href="{% url "webm" webm_id=image.pk %}" class="p1">{{ image.filename|safe }}</a>
		<a href="{% url "webm" webm_id=image.pk %}">
			<img src="/static/img/blank.gif" data-echo="/chug/xXx @current_board xXx/XxX thumbnail_for_image xXx @image xXx XxX">
		</a>
	</div>
	{% endfor %}
	<div class="pages">
		<span>Page:</span>
		<a href="/chug/xXx @current_board xXx/xXx @prev_page xXx">&laquo;</a>
		xXx LOOP page PAGES xXx
		<a href="/chug/xXx @current_board xXx/xXx @page xXx">xXx @page xXx</a>
		xXx BBL xXx
		<a href="/chug/xXx @current_board xXx/xXx @next_page xXx">&raquo;</a>
	</div>
</div>
{% endblock %}
<!-- vim: noet ts=4 ft=htmldjango sw=4:
-->
