{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block main %}
<div class="measure txt-center">
	<div id="landing">
		<h1 class="title">waifu.xyz</h1><span class="beta fnt--red">beta</span>
	</div>
	<div>
		<p>Now serving {{webm_count}} webms, {{webm_alias_count}} known aliases and {{post_count}} posts.</span>
	<p>An open-source <code>.webm</code> aggregator. Probably <span class="fnt--red">NSFW</span>.</p>
	<p>You have been warned.</p>
	<p>Get the <a href="https://github.com/qpfiffer/waifu.xyz">code</a> yourself.</p>
</div>
{% endblock %}
<!-- vim: noet ts=4 ft=htmldjango sw=4:
-->
