{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{image.filename|safe}}{% endblock %}

{% block main %}
<div>
	<div class="bg--light-gray">
		<p><a href="{% static image.filepath %}" class="p1">Download "{{image.filename|safe}}"</a></p>
		<video id="webm" autoplay="true" loop="true" controls="true">
			<source src="{% static image.filepath %}" type="video/webm" />
		</video>
		<div class="post-content">
			<span>{{post.created_at}} {{post.post_no}}</span>
			<blockquote>{{post.body_content|safe}}</blockquote>
		</div>
		<p>Information:</p>
		<ul>
			<li><a href="/by/thread/xXx @thread_id xXx">See other posts from this thread</a></li>
			<li>First found: xXx @image_date xXx</li>
			<li>Aliases:
				<ul>
				xXx LOOP alias aliases xXx
					<li>xXx @alias xXx</li>
				xXx BBL xXx
				</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %}
<!-- vim: noet ts=4 ft=htmldjango sw=4:
-->
