/* vim: set ts=4 sw=4 noet : */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.title {
	display: inline-block;
}
.beta {
	display: inline-block;
	vertical-align: sub;
}
#landing {
	padding-bottom: 2em;
}
.image {
	display: inline-block;
	width: 20%;
	height: 200px;
	margin-bottom: 2em;
	vertical-align: top;
	overflow: hidden;
}
.image img {
	width: 100%;
	max-height: 200px;
}
.pages {
	padding-bottom: 2em;
	font-size: 18px;
}
div.post-content {
	margin-bottom: 2em;
	background-color: #F0E0D6;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	display: table;
	padding: 2px;
	font-family: 'Times New Roman', serif;
	font-size: 14px;
	color: #800000;
}
div.post-content span {
	display: inline;
	width: auto;
}

div.post-content .quote {
	color: #789922;
}
div.post-content .file_thumb {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 5px;
}
