/* vim: set ts=4 sw=4 noet : */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.title {
	display: inline-block;
}
.beta {
	display: inline-block;
	vertical-align: sub;
}
#landing {
	padding-bottom: 2em;
}
.image {
	display: inline-block;
	width: 20%;
	height: 200px;
	margin-bottom: 2em;
	vertical-align: top;
	overflow: hidden;
}
.image img {
	width: 100%;
	max-height: 200px;
}
