<!DOCTYPE html>
<html>
	<head>
		<title>waifu.xyz - xXx @current_board xXx</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
		<link rel="stylesheet" media="screen and (max-width: 800px)" href="/static/css/mobile.css" />
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					<span><a href="/">waifu.xyz</a></span>
					<span>Boards:</span>
					<ul>
						xXx LOOP board BOARDS xXx
							<li><a href="/chug/xXx @board xXx">xXx @board xXx</a></li>
						xXx BBL xXx
					</ul>
				</div>
				<div class="col-6">
					<p>/xXx @current_board xXx/ - xXx @total xXx Webms Collected</p>
					<div class="images">
						xXx LOOP image IMAGES xXx
						<div class="image bg--light-gray">
								<a href="/slurp/xXx @current_board xXx/xXx @image xXx" class="p1">xXx @image xXx</a>
								<a href="/slurp/xXx @current_board xXx/xXx @image xXx">
									<img src="/static/img/blank.gif" data-echo="/chug/xXx @current_board xXx/XxX thumbnail_for_image xXx @image xXx XxX">
								</a>
						</div>
						xXx BBL xXx
						<div class="pages">
							<span>Page:</span>
						xXx LOOP page PAGES xXx
							<a href="/chug/xXx @current_board xXx/xXx @page xXx">xXx @page xXx</a>
						xXx BBL xXx
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/echo.js"></script>
		<script>
			echo.init({
				offset: 100,
				throttle: 250,
				unload: false,
				callback: function (element, op) {
					console.log(element, 'has been', op + 'ed')
				}
			});
		</script>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
