<!DOCTYPE html>
<html>
	<head>
		<title>waifu.xyz - xXx @current_board xXx</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					<ul>
						xXx LOOP board BOARDS xXx
							<li><a href="/chug/xXx @board xXx">xXx @board xXx</a></li>
						xXx BBL xXx
					</ul>
				</div>
				<p>/xXx @current_board xXx/ - xXx @total xXx Webms Collected</p>
				<div class="col-6">
					<div class="measure txt-center">
						<div>
							xXx LOOP image IMAGES xXx
								<p>xXx @image xXx</p>
							xXx BBL xXx
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
