<!DOCTYPE html>
<html>
	<head>
		<title>waifu.xyz - Thread xXx @thread_id xXx</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
		<link rel="stylesheet" media="screen and (max-width: 800px)" href="/static/css/mobile.css" />
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					<span><a href="/">waifu.xyz</a></span>
					<span>Boards:</span>
					<ul>
						xXx LOOP board BOARDS xXx
							<li><a href="/chug/xXx @board xXx">xXx @board xXx</a></li>
						xXx BBL xXx
					</ul>
					<!--
					<span>Special:</span>
					<ul>
						<li><a href="/by/alias/0">Sort by Aliases Count</a></li>
					</ul>
					-->
				</div>
				<div class="col-6">
					<p>xXx @total xXx Posts</p>
					<ul>
						xXx LOOP post POSTS xXx
						<div class="post-content">
							<span>xXx @post.date xXx</span>
							<blockquote>xXx @post.content xXx</blockquote>
						</div>
						<!--
						<li>
							<a href="#">xXx @post.key xXx, xXx @post.date xXx, xXx @post.board xXx, xXx @post.webm_key xXx</a>
						</li>
						-->
						xXx BBL xXx
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
