<!DOCTYPE html>
<html>
	<head>
		<title>mzbh - Thread xXx @thread_id xXx</title>
		xXx SCREAM templates/includes/_head.html xXx
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					xXx SCREAM templates/includes/_boards.html xXx
				</div>
				<div class="col-6">
					<p>xXx @total xXx Posts</p>
					<ul>
						xXx LOOP post POSTS xXx
						<div id="pxXx @post.post_no xXx" class="post-content">
							<div>
								xXx UNLESS @post.image xXx
								File: <a href="/slurp/xXx @post.board xXx/xXx @post.image xXx" class="p1">xXx @post.image xXx</a>
								xXx ENDLESS xXx
								<span>XxX pretty_date xXx @post.date xXx XxX No.xXx @post.post_no xXx</span>
							</div>
							<div>
								xXx UNLESS @post.image xXx
								<a class="file_thumb" href="/slurp/xXx @post.board xXx/xXx @post.image xXx">
									<img src="/chug/xXx @post.board xXx/XxX thumbnail_for_image xXx @post.image xXx XxX">
								</a>
								xXx ENDLESS xXx
							</div>
							<div>
								<blockquote>xXx @post.content xXx</blockquote>
							</div>
						</div>
					xXx BBL xXx
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
