<!DOCTYPE html>
<html>
	<head>
		<title>waifu.xyz</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					<ul>
						xXx LOOP board SFW_BOARDS xXx
						<li>test</li>
						xXx TTYL xXx
					</ul>
				</div>
				<div class="col-6">
					<div class="measure txt-center">
						<div id="landing">
							<h1 id="title">waifu.xyz</h1>
						</div>
						<div>
							<p>Ruthless <code>.webm</code> aggregator. Probably <span class="fnt--red">NSFW</span>.</p>
							<p>You have been warned.</p>
							<p>xXx TEST xXx</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
