<!DOCTYPE html>
<html>
	<head>
		<title>waifu.xyz</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
		<link rel="stylesheet" media="screen and (max-width: 800px)" href="/static/css/mobile.css" />
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					<span><a href="/">waifu.xyz</a></span>
					<span>Boards:</span>
					<ul>
						xXx LOOP board BOARDS xXx
							<li><a href="/chug/xXx @board xXx">xXx @board xXx</a></li>
						xXx BBL xXx
					</ul>
					<!--
					<span>Special:</span>
					<ul>
						<li><a href="/by/alias/0">Sort by Aliases Count</a></li>
					</ul>
					-->
				</div>
				<div class="col-6">
					<div class="measure txt-center">
						<div id="landing">
							<h1 class="title">waifu.xyz</h1><span class="beta fnt--red">beta</span>
						</div>
						<div>
							<p>Now serving xXx @webm_count xXx webms with xXx @alias_count xXx known aliases.</span>
							<p>An open-source <code>.webm</code> aggregator. Probably <span class="fnt--red">NSFW</span>.</p>
							<p>You have been warned.</p>
							<p>Get the <a href="https://github.com/qpfiffer/waifu.xyz">code</a> yourself.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
