<!DOCTYPE html>
<html>
	<head>
		<title>waifu.xyz - By Popularity</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" media="all" href="/static/css/furtive.css" />
		<link rel="stylesheet" media="all" href="/static/css/main.css" />
		<link rel="stylesheet" media="screen and (max-width: 800px)" href="/static/css/mobile.css" />
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					<span><a href="/">waifu.xyz</a></span>
					<span>Boards:</span>
					<ul>
						xXx LOOP board BOARDS xXx
							<li><a href="/chug/xXx @board xXx">xXx @board xXx</a></li>
						xXx BBL xXx
					</ul>
					<!--
					<span>Special:</span>
					<ul>
						<li><a href="/by/alias/0">Sort by Aliases Count</a></li>
					</ul>
					-->
				</div>
				<div class="col-6">
					<p>By Popularity - xXx @total xXx Webms Collected</p>
					<div class="images">
						xXx LOOP image IMAGES xXx
						<div class="image bg--light-gray">
							<a href="/slurp/xXx @image.board xXx/xXx @image.filename xXx" class="p1">xXx @image.filename xXx</a>
							<a href="/slurp/xXx @image.board xXx/XxX thumbnail_for_image xXx @image.filename xXx XxX">
								<img src="/chug/xXx @image.board xXx/XxX thumbnail_for_image xXx @image.filename xXx XxX">
							</a>
						</div>
						xXx BBL xXx
						<div class="pages">
							<span>Page:</span>
							<a href="/by/alias/xXx @prev_page xXx">&laquo;</a>
							xXx LOOP page PAGES xXx
							<a href="/by/alias/xXx @page xXx">xXx @page xXx</a>
							xXx BBL xXx
							<a href="/by/alias/xXx @next_page xXx">&raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/echo.js"></script>
		<script>
			echo.init({
				unload: false,
			});
		</script>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
