<!DOCTYPE html>
<html>
	<head>
		<title>mzbh - By Popularity</title>
		xXx SCREAM templates/includes/_head.html xXx
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					xXx SCREAM templates/includes/_boards.html xXx
				</div>
				<div class="col-6">
					<p>By Popularity - xXx @total xXx Webms Collected</p>
					<div class="images">
						xXx LOOP image IMAGES xXx
						<div class="image bg--light-gray">
							<a href="/slurp/xXx @image.board xXx/xXx @image.filename xXx" class="p1">xXx @image.filename xXx</a>
							<a href="/slurp/xXx @image.board xXx/xXx @image.filename xXx">
								<img src="/chug/xXx @image.board xXx/XxX thumbnail_for_image xXx @image.filename xXx XxX">
							</a>
						</div>
						xXx BBL xXx
						<div class="pages">
							<span>Page:</span>
							<a href="/by/alias/xXx @prev_page xXx">&laquo;</a>
							xXx LOOP page PAGES xXx
							<a href="/by/alias/xXx @page xXx">xXx @page xXx</a>
							xXx BBL xXx
							<a href="/by/alias/xXx @next_page xXx">&raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/echo.js"></script>
		<script>
			echo.init({
				unload: false,
			});
		</script>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
