<!DOCTYPE html>
<html>
	<head>
		<title>mzbh - Sorted by Alias Count</title>
		xXx SCREAM templates/includes/_head.html xXx
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					xXx SCREAM templates/includes/_boards.html xXx
				</div>
				<div class="col-6">
					<p>xXx @total xXx Webms</p>
					<div class="images">
						xXx LOOP image IMAGES xXx
						<div class="image bg--light-gray">
							<a href="xXx @image xXx" class="p1">xXx @image xXx</a>
						</div>
						xXx BBL xXx
						<div class="pages">
							<span>Page:</span>
							<a href="/by/alias/xXx @prev_page xXx">&laquo;</a>
							xXx LOOP page PAGES xXx
							<a href="/by/alias/xXx @page xXx">xXx @page xXx</a>
							xXx BBL xXx
							<a href="/by/alias/xXx @next_page xXx">&raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/echo.js"></script>
		<script>
			echo.init({
				unload: false,
			});
		</script>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
