<!DOCTYPE html>
<html>
	<head>
		<title>mzbh - Image {{ webm.filename }}</title>
		{% include "includes/_head.html" %}
	</head>
	<body>
		<div class="grd">
			<div class="row">
				<div class="col-1">
					{% include "includes/_boards.html" %}
				</div>
				<div class="col-6">
					<p>/{{ category.name }}/ - {{ filename }}</p>
					<div>
						<div class="bg--light-gray">
							<p><a href="/slomp/{{ webm.id }}" class="p1">Download {{ webm.filename }}</a></p>
							<video id="webm" autoplay="true" loop="true" controls="true">
								<source src="/slomp/{{ webm.id }}" type="video/webm" />
							</video>
							{% if post %}
							<div class="post-content">
								<span>{{ post.posted_at }}</span>
								<blockquote>{{ post.body_content|safe }}</blockquote>
							</div>
							{% endif %}
							<p>Information:</p>
							<ul>
								{% if thread and thread.id %}
								<li><a href="/by/thread/{{ thread.id }}">See other posts from this thread</a></li>
								{% endif %}
								<li>First found: {{ webm.created_at }}</li>
								{% if aliases %}
								<li>Aliases:
									<ul>
									{% for alias in aliases %}
										<li>{{alias}}</li>
									{% endfor %}
									</ul>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!-- vim: noet ts=4 sw=4:
-->
